#main-wrapper{
    height: 100%;
}
.empty-template-area {
    text-align: center;
    padding: 1em;
    margin: 2em;
    box-shadow: 0 0 20px 0px #f4f4f4;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}