body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    background-color: #fff; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vollkorn', serif;
    color: #333333;
}

a {
    color: #F6121C;
}

a:hover, a:active {
    color: #DD000A; }

figcaption {
    color: #444;
}

button,
[type="submit"],
[type="button"] {
    color: #F6121C;
    border: 1px solid #F6121C;}
button:hover, button:focus,
[type="submit"]:hover,
[type="submit"]:focus,
[type="button"]:hover,
[type="button"]:focus {
    color: #ffffff;
    background-color: #F6121C;
}

.site-header{
    background-color: #000;
}

.site-navigation ul.primary-menu li ul {
    background: #222;
    border: 0;
}
.site-navigation ul.primary-menu li.current-menu-item.menu-item-has-children:after,
.site-navigation ul.primary-menu li.current-menu-parent.menu-item-has-children:after,
.site-navigation ul.primary-menu li.current-page-ancestor.menu-item-has-children:after,
.site-navigation ul.primary-menu li.current-post-ancestor.menu-item-has-children:after { 
    border-color: #F6121C;
}


.site-navigation ul.primary-menu li a {
    color: #fff;
    font-size: 18px;
}
.site-navigation ul.primary-menu li a:hover,
.site-navigation ul.primary-menu li.focus > a {
    color: #eee;
}

.site-navigation ul.primary-menu li li a{
    font-size: 16px;
}

.site-navigation ul.primary-menu > li:last-of-type a{
    background-color: #F6121C;
    color: #fff;
    padding: 15px 30px;
}

.site-navigation ul.primary-menu > li:last-of-type:hover a{
    background-color: #DD000A;
    color: #fff;
}

.site-title a{
    color: #fff;
}
.site-branding .site-description {
    color: #fff;
    font-size: 13px;
    line-height: 1.3;
}

.header-banner .inner{
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    padding: 1rem;
}


@media (min-width: 768px) {
    .header-banner .inner{
        max-width: 900px;
        padding: 7rem;
    }
}

.content-box {
    border-radius: 5px;
    box-shadow: 0 0 50px 0px #f4f4f4;
}

.header-banner span{
    font-size: 40px;
    margin-bottom: 20px;
}

.header-banner a,
.content-box .read-more {
    color: #fff;
    background-color: #F6121C;
    fill: #fff;
    padding: 15px 25px;
    font-weight: 400;
}

.header-banner a{
    padding: 20px 50px;
    font-size: 18px;
}


.header-banner a:hover,
.header-banner a:focus,
.content-box .read-more:hover, 
.content-box .read-more:focus {
    background: #DD000A;
}


.header-banner h1{
    color: #fff;
    font-size: 65px;
    margin: 0;
}

@media (min-width: 768px) {
    .header-banner h1{
        font-size: 120px;
    }
}
.header-banner p{
    color: #fff;
    max-width: 500px;
    margin: 0 auto 1.5rem auto;
}

.content-box .post-meta {
    font-size: 12px;
    color: #999;
}


.site-footer {
    margin-top: 20px;
    border-top: #eeeeee 1px solid;
    padding: 30px 0;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.woocommerce ul.products li.product .button {
    padding: 20px;
    background: transparent;
    border: 1px solid #222;
}
.woocommerce ul.products li.product .button:hover {
    color: #fff;
    background-color: #222;
}

.woocommerce ul.products li.product .price {
    color: #333;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #333;
}

.woocommerce-ordering .orderby{
    background: transparent;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #F6121C;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #F6121C;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #DD000A;
}

.woocommerce span.onsale {
    background: #F6121C;
}