@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "components/fonts";
@import "components/theme";
@import "components/footer";
@import "components/header";
@import "components/hero-banner";
@import "components/video-section";
@import "components/full-text-block";

.custom-logo {
    max-width: 120px !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ie-block-ltr {
        padding-right: 50px;
        margin-right: 50px;
    }

    .ie-block-ltr h1, h2 {
        padding-right: 50px;
        margin-right: 50px;
    }

    .ie-block-ltr p {
        padding-right: 50px;
        margin-right: 50px;
    }

    .rtl-section {
        padding-left: 30px;
        margin-left: 30px;
    }
}

