// Responsive widths.
$size__spacing-unit: 1rem;
$size__site-tablet-content: calc(8 * (100vw / 12) - 28px);
$size__site-desktop-content: calc(6 * (100vw / 12) - 28px);

// Responsive widths.
$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1025px;

