@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=74543829-3e2b-4239-8556-73d822b54889");
@font-face{
    font-family:"Proxima Nova W02 Light";
    src:url("fonts/6084ebdf-4040-41f9-b612-c8d0d5f97ec7.woff2") format("woff2"),url("fonts/55bc0e6b-fc23-48e1-b3b9-558875134c5a.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Light Italic";
    src:url("fonts/c9cc07de-6cce-4d07-8f67-3c41466079af.woff2") format("woff2"),url("fonts/c6cf730f-53dd-45d3-937e-5c0f92306759.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Thin";
    src:url("fonts/51c16e04-0ebc-4379-bb95-63a89c938aa6.woff2") format("woff2"),url("fonts/cd15575c-e654-4969-ac25-f7b1ed1a6e7a.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Thin Italic";
    src:url("fonts/38d9d820-6910-4ef9-9165-ee53a42e9a47.woff2") format("woff2"),url("fonts/4690b402-795b-4731-88fc-3c99f5d801a7.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Regular";
    src:url("fonts/080126ae-e200-4700-b590-ebfaa9c0b128.woff2") format("woff2"),url("fonts/5925b8b4-739f-44a9-8e90-f06b8097a91e.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Italic";
    src:url("fonts/e72614f2-3c15-420d-816a-45cd8cb8d465.woff2") format("woff2"),url("fonts/806d3aab-8ef7-44d3-8843-7914000a4a6e.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Medium";
    src:url("fonts/67fbab47-bdd1-459b-8706-7d42debe8cb9.woff2") format("woff2"),url("fonts/6da206ab-4f15-41c4-b18d-5d669585c833.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Medium Italic";
    src:url("fonts/1ef000e6-38bb-471c-8b3a-aab41bf5c807.woff2") format("woff2"),url("fonts/3cd8c505-795d-4763-aea9-a7e8b9198168.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Semibold";
    src:url("fonts/dc21dba2-7c87-4f7f-8750-b16c3fa919fb.woff2") format("woff2"),url("fonts/18a42fd4-6ca7-4d95-b61b-4f1aa67f608c.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Semibold It";
    src:url("fonts/3182188a-1141-464c-b1b1-c9eccb3134ad.woff2") format("woff2"),url("fonts/a30f5eb4-cc71-4e8a-8628-edc817c42bf1.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Bold";
    src:url("fonts/1df9aeba-11c6-4ec4-b6eb-1667994d0b6b.woff2") format("woff2"),url("fonts/ff543787-fb6c-4f37-8543-1a896cfd5f1f.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Bold Italic";
    src:url("fonts/a5f521f0-8b27-4332-b391-1d4dd5122fb0.woff2") format("woff2"),url("fonts/23180296-5860-408f-9e30-2d3879b3796a.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Extrabold";
    src:url("fonts/a05d446f-c467-432a-92fd-228bb7ad73c9.woff2") format("woff2"),url("fonts/41eed443-8ad2-46f3-ac13-a026037a18c2.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Extrabold It";
    src:url("fonts/3a9ea036-7577-47db-8cd5-a2fa6e30b843.woff2") format("woff2"),url("fonts/6b5dbc7d-3d45-4055-9853-faebba38331e.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Black";
    src:url("fonts/ef430219-92ff-41b1-99fa-5574527341a9.woff2") format("woff2"),url("fonts/36c3a0f6-237f-4c5d-9d3c-8c39b718f8e1.woff") format("woff");
}
@font-face{
    font-family:"Proxima Nova W02 Black Italic";
    src:url("fonts/f11c8722-df0d-48b9-9010-54cc27e76564.woff2") format("woff2"),url("fonts/d9c86326-55dd-4de9-b968-9d64a7e80d3c.woff") format("woff");
}