#header-nav {
    @apply flex-1;
    @apply justify-start;

    ul {
        @apply flex-1;
        @apply justify-start;

        li {
            display: inline-block;
            list-style: none;
            @apply me-5;

            a {
                font-family: "Proxima Nova W02 Regular", sans-serif;
            }
        }
    }
}