.video-bg {
    background-image: url("./images/video-bg-top.png");
    background-repeat: no-repeat;
    background-size: 36%;
    background-position: top 0px left 0px;
    @apply pt-12;
}

.video-btn-bg {
    background-image: url("./images/video-bg-bot.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom 0px left 240px;
}

@media (min-width: 1440px) {
    .video-bg {
        background-position: top 0px left -100px;
    }
}

@media (min-width: 1441px) {
    .video-bg {
        background-size: 32%;
        background-position: top 0px left 0px;
    }
}


@media (min-width: 1850px) {
    .video-bg {
        background-size: 25%;
        background-position: top 0px left 10%;
    }
}

@media (max-width: 1356px) {
    .video-bg {
        background-position: top 0px left -100px;
    }
}

@media (max-width: 1200px) {
    .video-bg {
        background-size: 50%;
    }

    .video-btn-bg {
        background-position: bottom 50px left 240px;
    }
}

@media (max-width: 1024px) {
    .video-bg {
        background-position: top 0px left -160px;
    }

    .video-btn-bg {
        background-position: bottom 50px left 250px;
    }
}

@media (max-width: 1023px) {
    .video-bg {
        background-position: top 20% left -160px;
        @apply pt-0;
    }

    .video-btn-bg {
        background-position: bottom 35% left 35%;
    }
}

@media (max-width: 767.98px) {
    .video-bg {
        padding-top: 10px;
        background-position: top 0px left 0px;
        background-size: 82%;
    }

    .video-btn-bg {
        background-image: none;
    }
}

@media (max-width: 640px) {
    .video-bg {
        background-size: 100%;
    }
}
